html,
body {
  font-family: "Roboto Condensed", sans-serif;
  color: #3e4a59;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
}

.wrapper {
  height: 100%;
  background-color: #eff1f6;
  padding: 1rem 1rem 0 1rem;
}

.btn-outline-primary {
  color: #5172aa;
  border-color: #5172aa;
}
.btn-outline-primary:hover {
  background-color: #5172aa;
  border-color: #5172aa;
}

.btn-skip {
  background-color: #5172aa;
  border-radius: 25px;
  width: 45px;
  height: 45px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -1px;
  color: #f9fafc;
}

.btn-skip:hover {
  color: #fff;
  box-shadow: 0px 0px 9px #6b6b6b;
}

.justify-content-flex-end {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 1.5rem;
}

.logo-wrapper {
  margin: 1.06rem;
  text-align: center;
}

.logo-wrapper img {
  width: 4.4rem;
  cursor: pointer;
}

.title {
  font-size: 1.9rem;
  line-height: 2.2;
}

.container-fluid {
  height: calc(100% - 176px);
  background-color: #f9fafc;
  border-radius: 2rem 2rem 0 0;
}

.jsn-input-control {
  border: none;
  border-radius: 0;
  background-color: #f0f3f7;
  padding-left: 17px;
  width: 100%;
  height: 61px;
}

.jsn-input-control:active,
.jsn-input-control:focus {
  border-left: solid 5px #5172aa;
  padding-left: 12px;
  outline: none;
}

.state-result,
.state-trivia {
  height: inherit;
}

.trivia-main {
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 100.7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main > .display-6 {
  font-weight: 500;
}

.main .rank {
  font-size: 4rem;
  padding-bottom: 1rem;
  text-align: center;
}

.state-result > .main .display-6 {
  font-weight: 500;
  text-align: center;
}

.footer,
.header {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  align-items: center;
}
.header {
  margin: 0 1rem;
}

.state-home {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.state-home > .container {
  max-width: 700px;
}

.btn-danger-overwrite {
  margin-top: 4rem;
  padding: 1rem 2rem;
}

.container > .label {
  margin-bottom: 0.5rem;
}

.correct-answers {
  height: 100%;
  overflow-y: auto;
}

.data-tile {
  padding: 2rem;
  background-color: white;
  border-radius: 15px;
  margin: 1rem auto;
}

.trivia-count {
  display: flex;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  align-items: center;
  background-color: #223465;
  color: white;
}


/*Nicole added 
Name position
Score position
*/
.name {
position: absolute;
text-transform: uppercase;
font-family: 'Roboto Condensed', sans-serif;
font-weight: 300;
width: 98px;
height: 100px;
font-size: 1.3rem;
left: 90px;
top: 135px;
}

.percentage {
position: absolute;
width: 400px;
height: 70px;
left: 25%;
top: 40%;
font-family: 'Roboto Condensed', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 70px;
text-align: center;
color: #223465;
}

.rank0{
  color: #212121;
  background-color:white;
  font-size: 3rem;
  width: 700px;
  height: 90px;
  padding: 2%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  
 
}

.rank1{
  color: #212121;
  background-color:#EBCC2A;;
  font-size: 3rem;
  width: 700px;
  height: 90px;
  padding: 2%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); 
 
}
.rank2{
  color: #212121;
  background-color:#EBCC2A;;
  font-size: 3rem;
  width: 700px;
  height: 90px;
  padding: 2%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.rank3 {
  color: #212121;
  background-color:#EB872A;
  font-size: 3rem;
  width: 700px;
  height: 90px;
  padding: 2%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.rank4 {
  color: #212121;
  background-color:#35A42C;
  font-size: 3rem;
  width: 700px;
  height: 90px;
  padding: 2%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.rank5 {
  color: white;
  background-color:#2C8EA4;
  font-size: 3rem;
  width: 700px;
  height: 90px;
  padding: 2%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.rank6 {
  color: white;
  background-color:#5452D2;
  font-size: 3rem;
  width: 700px;
  height: 90px;
  padding: 2%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.rank7 {
  color: white;
  background-color:#BC1F1F;
  font-size: 3rem;
  width: 700px;
  height: 90px;
  padding: 2%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.rank8 {
  color: white;
  background-color:#212121;
  font-size: 3rem;
  width: 700px;
  height: 90px;
  padding: 2%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.rank8 {
  color: white;
  background-color:#8B4818;
  font-size: 3rem;
  width: 700px;
  height: 90px;
  padding: 2%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.rank9 {
  color: white;
  background-color:#212121;
  font-size: 3rem;
  width: 700px;
  height: 90px;
  padding: 2%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.rank10{
  color:  #BC1F1F;
  background-color: #212121;
  height: 500px;
  font-size: 3rem;
  width: 700px;
  height: 90px;
  padding: 2%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.rank10:after{
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 87%;
    border-right: 20px solid #BC1F1F;
    transform: translate(-50%);
}